*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}
body{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(./img/pic1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .10s;
    transform: translateX(10px);
    height: 700px;
    width: 100%;
   
   
}
.header .header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #8782822d;
    backdrop-filter: blur(10px);
    position: relative;
    height: 60px;
   
    

}
.logo{
    color: black;
    position: absolute;
    top: 2.5%;
    left: 10%;
    z-index: 999;
    font-size: 20px;
}
.signUp{
    /* position: absolute;
    top: 5%;
    right: 10%; */

}
.signUp button{
 background: #4e2cb6e6;
 border: none;
 padding: 5px 15px;
 border-radius: 5px;
 color: white;
}
.logo a{
    text-decoration: none;
    color: white;
}
.header-menu ul li{
    display: inline-block;
}

.header-menu ul li a{
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
}
.dropDown{
    position: relative;
}
.dropdownItem{
    position: absolute;
    top: 100%;
    left: 100%;
    background: #8782822d;
    backdrop-filter: blur(10px);
    display: none;
    margin-bottom: 10%;
}
.dropDown:hover .dropdownItem{
    display: block;
    transition: .9s;
    transform: translateX(-100%);
   
}
 .dropdownItem a:hover{
    transition: .5s;
    display: block;
    background: #87828252;
    backdrop-filter: blur(20px);
}
.content{
    padding: 20px;
    color: white;
    transition: .5s;
}
.content h1{
   width: 50%;
   margin: auto;
   font-size: 60px;
   margin-top: 10%;
   text-shadow: 6px 6px 8px black;
}
.content p{
    width: 50%;
    margin: auto;
    font-size: 20px;
    margin-top: 5%;
    text-shadow: 6px 6px 8px black;
   
}
.arrowLeft{
    position: absolute;
    top: 50%;
    left: 50px;
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.arrowRight{
    position: absolute;
    top: 50%;
    right: 50px;
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.header-menu .bars{
    position: absolute;
    top: 30%;
    right: 50px;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.responsiveMenu{
    display: none;
}

@media  (max-width:900px) {

    .header{
        margin: 0;
    }
    .DontShow{
        display: none;
       height: 100px;
    }
    .header-menu .bars{
        display: block;
    }
    .responsiveMenu{
        display: none;
    }
    .dropdownItem{
        position: absolute;
        top: 10%;
        left: -1px
    }
    .content h1 {
        font-size: 35px;
        margin-top: 10%;
        text-shadow: 6px 6px 8px black;
      }
      .content p {
        font-size: 16px;
        margin-top: 5%;
        text-shadow: 1px 2px 8px black;
        color: #ddd;
      }
      .arrowLeft {
        position: absolute;
        top: 50%;
        left: 12px;
        font-size: 20px;
      }
      .arrowRight {
        position: absolute;
        top: 50%;
        right: 12px;
        font-size: 20px;
      }
   
   
}
.menuItemBlock{
    position: absolute;
    top: 100%;
    right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background: #5e4f4f2f;
   backdrop-filter: blur(20px);
}